<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/Admin" class="simple-text logo-mini">
                CT
            </a>
            <a href="/Admin" class="simple-text logo-normal">
                Moderator
            </a>
        </div>
        <ul class="nav">
            <li class="active ">
                <a href="/Admin">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/Admin/Orders">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>Orders</p>
                </a>
            </li>
            <li>
                <a href="/Admin/Profile">
                    <i class="tim-icons icon-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a href="./tables.html">
                    <i class="tim-icons icon-puzzle-10"></i>
                    <p>Table List</p>
                </a>
            </li>
        </ul>
    </div>
</div>