<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Sidebars · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">



    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        body{
            background-image: url("assets/img/2016_09_29_12990_1475116504._large.jpg");
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="assets/css/sidebars.css" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container" id="register-container">
            <div class="card" id="register-card">
            <section>
                <h1>Register</h1>

                <form method="post" id="submit-form" class="px-4 py-3" role="form" data-aos="fade-up" data-aos-delay="100">
                            <div class="alert alert-warnin" id="err-msg">

                            </div>
                            <div class="row" id="register-row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="username" placeholder="Username"required>
                                </div>
                                <div class="col-md-4">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="row" id="register-row">
                                <div class="col-md-4">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                                </div>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" name="password1" placeholder="Confirm Password" required>
                                </div>
                            </div>
                    <div class="row" id="register-row">

                        <button type="button" id="register-button" class="btn btn-primary">Sign in</button>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>                    
                    </div>
                    
                </form>
            </section>
            </div>
        </div>    
    </main>
    


    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/formSubmit.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    
    <script src="assets/js/sidebars.js"></script>
</body>
    
</html>