<!doctype html>
<html lang="en">
  <%- include("../../includes/head.ejs") %>
  <body>
<style>
  .content{
    width: 100%;
    padding-left: 58px !important;
  }
</style>
   

<main>

<section class="main-panel">
        <%- include("../../includes/nav-bar.ejs") %>
   
 <div class="content">
   <div class="row" id="cat-row">

   </div>

   <div>
     <div class="row" id="sub-row">

     </div>
   </div>

   <div class="row" id="pro-row">

   </div>
 
</div>
</section>




</main>
    <script>
 window.addEventListener('load',
      function(){
        fetch("/Category",{
          method: "GET",
          headers: {
            "Content-Type": "application/json"
          },
        }).then(data=> data.json())
          .then(data=>{
            const arr = data.data
            for(const dt of arr){
              const res =                     
              `<div class="card" value="${dt._id}" style="width: 150px; height: 150; margin: 10px; background-image: src('../../../Public/assets/img/fast-food.jpg');">
              <img class="card-img" src="${dt.image}" alt="">
              <div class="card-body">
              <p class="card-text"> ${dt.category_name}</p>
              </div>
              </div>`     
              $('#cat-row').append(res)
            }
          })

        

      }
    )
     
    </script>

    <%- include("../../includes/scripts.ejs") %>

  </body>
</html>
